/* @font-face {
  font-family: 'Jamsil';
  src: url('../../public/Jamsil.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
} */

$colorBlue: steelblue;
$colorGray: #7a8695;

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: 'SCDream';
  src: url('../../public/SCDream3.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  width: auto;
  height: auto;
}

body {
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'SCDream';
  background-color: rgb(41, 41, 41);
  margin: 0px;
  user-select: none;
}

table {
  border-collapse: collapse;
  border-top: 1px solid white;
}

tr {
  border-bottom: 1px solid white;
}

ul {
  list-style: none;
}

#fadeOut {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}

#loading {
  display: flex;
  align-items: center;
  position: absolute;
  /* background-color: rgb(41, 41, 41); */
  z-index: 15;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}


.zhide {
  display: none;
  z-index: -1;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  .container {
    display: flex;
    flex: 9;
    height: 100%;

    .leftSection {
      flex: 1;
      background-color: black;
    }

    .middleSection {
      flex: 6;
      display: flex;
      flex-direction: column;
      height: 100%;
      // min-height: 90vh;
      background-color: rgb(41, 41, 41);
      /* padding: 10px; */
    }

    .rightSection {
      flex: 1;
      background-color: black;
    }
  }

  .footer {
    /* display: inline-block; */
    /* background-color: aqua; */
    // flex: 1;
    background-color: rgb(41, 41, 41);
    /* padding: 30px; */
    min-height: 100px;
  }

}


.bg-dark {
  background-color: rgb(41, 41, 41);
}


/* 프로필 */

.content-profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border: 1px solid $colorBlue;
  border-radius: 10px;

  .profile {
    &-title {
      // position: absolute;
      // top: auto;
      // top: 0;
      left: 0px;
      width: 600px;
      text-align: center;

      h2 {
        font-size: 23px;
        border-bottom: 1px solid steelblue;
        padding: 20px;
        padding-left: 10px;
      }
    }

    &-intro {
      position: absolute;
      top: auto;
      left: auto;
      display: flex;
      flex: 10;
      flex-direction: column;

      &-content {
        display: flex;
        flex: 1;
        width: 100%;
        max-width: 900px;

        &-img {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 40%;

          // flex: 2;

          & img {
            width: 240px;
            // max-width: 80%;
            // max-height: 100%;
            padding: 10px;
          }
        }

        &-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 10px;
          margin: 0px auto;
          width: 80%;
          font-size: 13px;

          .about,
          .channel {
            $marginBetween: 20px;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 500px;
            margin-top: $marginBetween;
            margin-bottom: $marginBetween;
            background-color: $colorGray;
            padding: 10px;
            border-radius: 5px;

            a {
              display: flex;
              align-items: center
            }

            img,
            svg {
              width: 24px;
              margin: 3px;
            }

            span {
              padding: 2px;
              margin-top: 1px;
            }
          }

          .title {
            text-align: center;
            padding: 5px;
            font-size: 18px;
          }
        }

      }



    }

    &-skill {
      position: absolute;
      top: auto;
      left: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 10;
      width: 100%;
      max-width: 900px;

      &-content {
        display: flex;
        // justify-content: center;
        align-items: center;
        flex: 1;
        max-width: 900px;

        .group {
          background-color: $colorGray;
          margin: 10px;
          padding: 5px;
          padding-bottom: 30px;
          width: 550px;
          border-radius: 5px;

          h3 {
            margin-top: 30px;
            margin-bottom: 5px;
            font-size: 16px;
          }

          img {
            margin: 2px;
          }
        }
      }


    }

    &-project {
      position: absolute;
      top: auto;
      left: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 10;
      width: 100%;
      max-width: 900px;

      .profile-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        width: 100%;
        max-width: 900px;
        padding: 10px;

        .project {
          $marginBetween: 10px;
          width: 250px;
          height: 400px;
          text-align: center;
          background-color: $colorGray;
          border-radius: 5px;
          margin-left: $marginBetween;
          margin-right: $marginBetween;

          .title {
            margin-top: 15px;

          }

          .useSkill {
            margin-top: 20px;

            img {
              margin: 1px;
            }

          }

          .detail {
            text-align: start;
            margin: 10px;
            margin-top: 10px;
            font-size: 13px;
          }
        }
      }

    }
  }

  .profile-navigate {
    position: absolute;
    bottom: 0;
    display: flex;

    button {
      display: flex;
      justify-content: center;
      padding-bottom: 3px;
      align-items: center;
      background-color: transparent;
      border: 1px solid $colorBlue;
      color: $colorBlue;
      font-size: 20px;
      border-radius: 50%;
      width: 30px;
      height: 30px;

    }

    .button-left {
      flex: 10;
      display: flex;
      justify-content: right;
      align-items: center;

      button {
        padding-right: 3px;
      }
    }

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      margin: 5px;
    }

    .button-right {
      flex: 10;
      display: flex;
      justify-content: left;
      align-items: center;

      button {
        padding-left: 3px;
      }
    }
  }
}



.content-home {
  .content {
    margin: 20px;
    margin-top: 80px;
    border: 1px solid steelblue;
    border-radius: 5px;
    background-color: #7a8695;
    padding: 10px;
    text-align: center;

    .content-git {
      margin-top: 40px;

      a {
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        font-size: 13px;

        span {
          margin-left: 5px;
        }

        img {
          width: 24px;
        }
      }
    }
  }


}













.content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;

}

.content_box {
  /* display: flex; */
  overflow-y: auto;
  margin: 0 auto;
  padding: 10px;
  /* flex-direction: column; */
  width: 100%;
  min-height: 80vh;
}

.content-title {
  margin-bottom: 10px;

  h2 {
    text-shadow: 2px 2px black;
    font-size: 23px;
    border-bottom: 1px solid steelblue;
    padding: 20px;
    padding-left: 10px;
  }
}

.login_box {
  position: absolute;
  background-color: cornflowerblue;
  height: auto;
  clear: both;
  float: left;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  /* padding-top: 60px; */
}

.form_group {
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 450px;
  height: 50px;
  background-color: white;
}

.login_form_title {
  margin: 0 auto;
  color: #343a40;
  font-size: 20px;
  font-weight: 700;
}

.wrong_form {
  margin: 0 auto;
  font-size: 12px;
  color: red;
  font-weight: 600;
}

.form_group img {
  margin: 0 auto;
  width: 80px;
}

.input_group {
  display: flex;
  align-items: center;
  margin: 0 auto;

  height: 35px;
  background-color: whitesmoke;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 2px;
}

.input_group input {
  display: block;
  border: none;
  box-sizing: border-box;
  /* margin: 3px; */
  background-color: whitesmoke;
  padding: 5px;
  width: 250px;
  height: 30px;
  border-radius: 7px;
}

.input_group input:focus {
  outline: none;
}


.button_group {
  display: flex;
  align-items: center;
  margin: 0 auto;

  height: 30px;
  background-color: deepskyblue;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.button_group button {
  display: block;
  border: none;
  box-sizing: border-box;
  margin-bottom: 5px;
  background-color: deepskyblue;
  padding: 5px;
  width: 250px;
  height: 25px;
  border-radius: 7px;
  font-weight: 700;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.divine_line_group {
  display: flex;
  align-items: center;
  margin: 0 auto;

  width: 250px;
  height: 15px;
  border: none;
  border-radius: 7px;
}

.divine_line_box {
  flex: 3;
  margin: 0 auto;

}

.divine_line_box_mid {
  flex: 2;
  margin: 0 auto;

}

.divine_line {
  margin: 0 auto;
  width: 90px;
  height: 1px;
  border: none;
  background-color: #343a40;
}

.divine_line_text {
  display: inline;
  vertical-align: middle;
  margin: 0 auto;
  width: 50px;
  height: 3px;
  font-size: 12px;
}

.divine_line_text span {
  color: #343a40;
  font-size: 12px;
  font-weight: 700;
}

.oauth {
  display: felx;
  width: 100%;
}

.oauth-logo {
  width: 100%;
  height: 100%;
}

.oauth-button {
  width: 100%;
  height: 100%;
}

.oauth-button button {
  width: 250px;
  height: 30px;
  border-radius: 7px;
  border: 0px;
  background-color: deepskyblue;
  color: white;
  padding: 5px;
  font-weight: 700;
  font-size: 15px;
}

.oauth-button button:hover {
  background-color: steelblue;
}







.hidden {
  visibility: hidden;
  z-index: -1;
}

.visible {
  visibility: visible;
  z-index: 10;
}









/* 마이페이지 */
.mypage {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 25px;
  // align-items: center;
  // justify-content: center;
  flex-direction: column;

  .title {
    text-shadow: 2px 2px black;
    border-bottom: 1px solid steelblue;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  .content {
    display: flex;
    flex-direction: row;

    .navigate {
      width: 200px;
      box-shadow: 2px 2px 3px 0px black;
      padding-top: 30px;
      padding-bottom: 30px;

      li {
        text-align: center;
        cursor: pointer;
      }
    }

    .page {
      width: 100%;
      box-shadow: 2px 2px 3px 0px black;
      padding-bottom: 30px;

      .title {
        text-shadow: 2px 2px black;
        color: lightseagreen;
        margin: 30px;
        padding-bottom: 5px;
        border-bottom: 1px solid lightseagreen;
      }
    }
  }

  h4 {
    margin-top: 30px;
  }

  button {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: steelblue;
    border: 0px;
  }

  .border {
    width: 100%;
    // border: 1px solid black;
    box-shadow: 2px 2px 3px 0px black;
    padding-top: 30px;
    padding-bottom: 30px;
  }

}

.userinfo {
  width: 300px;
  padding-left: 30px;
  padding-right: 30px;

  h4 {
    text-shadow: 2px 2px black;
    margin-bottom: 5px;
    color: steelblue;
  }

  span {
    font-size: 14px;
  }

  .userinfo-password input {
    padding: 3px;
    width: 100%;
    margin-top: 5px
  }

  .userinfo-password .button {
    /* padding: 3px; */
    width: 100%;
    text-align: right;
  }
}

.asset {
  padding-left: 30px;
  padding-right: 30px;

  .total-asset {
    .divTable {
      // text-shadow: 1px 1px white;
      display: table;
      width: 100%;
      font-size: 14px;
      text-align: right;

      &-cell {
        width: 100px;
        display: table-cell;
        text-align: right;
      }

      &-row {
        width: 100px;
        display: table-row;
        text-align: right;
      }

      &-th {
        color: steelblue;
        width: 100px;
        text-align: left;
      }
    }
  }

  .table {
    margin-top: 20px;

    table {
      /* 내부 값이 줄바꿈을 하지 않음 */
      white-space: nowrap;
      color: white;
      letter-spacing: 1px;
      width: 100%;

      thead {
        font-size: 14px;
        color: steelblue;
        /* 글자 사이 간격 */
        letter-spacing: 1px;

        .width40 {
          width: 40px;
        }

        th {
          padding: 5px;
        }
      }

      tbody {
        font-size: 12px;
        /* 글자 사이 간격 */
        letter-spacing: 1px;
        text-align: center;

        tr {
          &:hover {
            color: steelblue;
          }
        }
      }
    }
  }
}




/* 코인 css */

.content-coin {

  .coin-table {
    margin-top: 20px;

    table {
      /* 크기고정 */
      // table-layout: fixed;
      /* 내부 값이 줄바꿈을 하지 않음 */
      white-space: nowrap;
      color: white;
      letter-spacing: 1px;
      width: 100%;

      thead {
        font-size: 14px;
        color: lightseagreen;
        /* 글자 사이 간격 */
        letter-spacing: 1px;

        .width40 {
          width: 40px;
        }

        th {
          padding: 5px;
          &:hover {
            cursor: pointer;
            color: aquamarine;
          }
        }
      }

      tbody {
        font-size: 12px;
        /* 글자 사이 간격 */
        letter-spacing: 1px;
        text-align: center;

        tr {
          &:hover {
            cursor: pointer;
            color: steelblue;
          }
        }
      }
    }
  }
}

.coin-main {
  margin: 0 auto;
  text-align: center;
}

.coin-main h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.coin-datail {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.coin-title {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.coin-title .text-area {
  width: 100%;
  font-size: 20px;
}

.coin-title .button-area {
  width: 100%;
  font-size: 20px;
}

.coin-chart {
  display: flex;
  justify-content: center;
}





.button-area {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.coin-title .button-area button {
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  background-color: steelblue;
  border: 0px;
  border-radius: 3px;
}

.trade {
  padding: 10px;
  width: 100%;
  height: 150px;

  display: flex;
  /* width: 100%; */
  /* height: 100%; */
  flex-direction: row;
  /* 가로정렬 */
  justify-content: center;
  /* 세로정렬 */
  /* align-items: center; */

  button {
    margin-top: 5px;
    width: 70px;
    height: 30px;
    color: antiquewhite;
    border-radius: 3px;
    border: 0px;
  }
}

.bgColorRed {
  background-color: crimson;
}

.bgColorBlue {
  background-color: royalblue;
}

.colorRed {
  color: crimson;
}

.colorBlue {
  color: royalblue;
}

.colorWhite {
  color: white;
}

.colorSteelBlue {
  color: steelblue;
}

.trade-type {
  flex: 20;
  height: 100%;
  display: flex;
  flex-direction: column;

  .desc-area {
    display: flex;
    flex-direction: row;

    .text-area {
      min-height: 22.4px;
      flex: 3;
      font-size: 12px;
    }

    .input-area {
      flex: 2;
      text-align: right;

      input {
        z-index: 10;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.history {
  table {
    white-space: nowrap;
    color: white;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;

    thead {
      font-size: 14px;
      // color: lightseagreen;
      color: steelblue;
      letter-spacing: 1px;

      .width40 {
        width: 40px;
      }

      th {
        padding: 5px;
      }
    }

    tbody {
      font-size: 12px;
    }
  }
}

.spare {
  flex: 1;
}