@charset "UTF-8";
/* @font-face {
  font-family: 'Jamsil';
  src: url('../../public/Jamsil.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
} */
* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "SCDream";
  src: url("../../public/SCDream3.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  width: auto;
  height: auto;
}

body {
  width: 100%;
  height: 100%;
  color: white;
  font-family: "SCDream";
  background-color: rgb(41, 41, 41);
  margin: 0px;
  user-select: none;
}

table {
  border-collapse: collapse;
  border-top: 1px solid white;
}

tr {
  border-bottom: 1px solid white;
}

ul {
  list-style: none;
}

#fadeOut {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}

#loading {
  display: flex;
  align-items: center;
  position: absolute;
  /* background-color: rgb(41, 41, 41); */
  z-index: 15;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}

.zhide {
  display: none;
  z-index: -1;
}

#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app .container {
  display: flex;
  flex: 9;
  height: 100%;
}
.app .container .leftSection {
  flex: 1;
  background-color: black;
}
.app .container .middleSection {
  flex: 6;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(41, 41, 41);
  /* padding: 10px; */
}
.app .container .rightSection {
  flex: 1;
  background-color: black;
}
.app .footer {
  /* display: inline-block; */
  /* background-color: aqua; */
  background-color: rgb(41, 41, 41);
  /* padding: 30px; */
  min-height: 100px;
}

.bg-dark {
  background-color: rgb(41, 41, 41);
}

/* 프로필 */
.content-profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border: 1px solid steelblue;
  border-radius: 10px;
}
.content-profile .profile-title {
  left: 0px;
  width: 600px;
  text-align: center;
}
.content-profile .profile-title h2 {
  font-size: 23px;
  border-bottom: 1px solid steelblue;
  padding: 20px;
  padding-left: 10px;
}
.content-profile .profile-intro {
  position: absolute;
  top: auto;
  left: auto;
  display: flex;
  flex: 10;
  flex-direction: column;
}
.content-profile .profile-intro-content {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 900px;
}
.content-profile .profile-intro-content-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.content-profile .profile-intro-content-img img {
  width: 240px;
  padding: 10px;
}
.content-profile .profile-intro-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 0px auto;
  width: 80%;
  font-size: 13px;
}
.content-profile .profile-intro-content-text .about,
.content-profile .profile-intro-content-text .channel {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #7a8695;
  padding: 10px;
  border-radius: 5px;
}
.content-profile .profile-intro-content-text .about a,
.content-profile .profile-intro-content-text .channel a {
  display: flex;
  align-items: center;
}
.content-profile .profile-intro-content-text .about img,
.content-profile .profile-intro-content-text .about svg,
.content-profile .profile-intro-content-text .channel img,
.content-profile .profile-intro-content-text .channel svg {
  width: 24px;
  margin: 3px;
}
.content-profile .profile-intro-content-text .about span,
.content-profile .profile-intro-content-text .channel span {
  padding: 2px;
  margin-top: 1px;
}
.content-profile .profile-intro-content-text .title {
  text-align: center;
  padding: 5px;
  font-size: 18px;
}
.content-profile .profile-skill {
  position: absolute;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 10;
  width: 100%;
  max-width: 900px;
}
.content-profile .profile-skill-content {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 900px;
}
.content-profile .profile-skill-content .group {
  background-color: #7a8695;
  margin: 10px;
  padding: 5px;
  padding-bottom: 30px;
  width: 550px;
  border-radius: 5px;
}
.content-profile .profile-skill-content .group h3 {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 16px;
}
.content-profile .profile-skill-content .group img {
  margin: 2px;
}
.content-profile .profile-project {
  position: absolute;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 10;
  width: 100%;
  max-width: 900px;
}
.content-profile .profile-project .profile-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  max-width: 900px;
  padding: 10px;
}
.content-profile .profile-project .profile-content .project {
  width: 250px;
  height: 400px;
  text-align: center;
  background-color: #7a8695;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.content-profile .profile-project .profile-content .project .title {
  margin-top: 15px;
}
.content-profile .profile-project .profile-content .project .useSkill {
  margin-top: 20px;
}
.content-profile .profile-project .profile-content .project .useSkill img {
  margin: 1px;
}
.content-profile .profile-project .profile-content .project .detail {
  text-align: start;
  margin: 10px;
  margin-top: 10px;
  font-size: 13px;
}
.content-profile .profile-navigate {
  position: absolute;
  bottom: 0;
  display: flex;
}
.content-profile .profile-navigate button {
  display: flex;
  justify-content: center;
  padding-bottom: 3px;
  align-items: center;
  background-color: transparent;
  border: 1px solid steelblue;
  color: steelblue;
  font-size: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.content-profile .profile-navigate .button-left {
  flex: 10;
  display: flex;
  justify-content: right;
  align-items: center;
}
.content-profile .profile-navigate .button-left button {
  padding-right: 3px;
}
.content-profile .profile-navigate .text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
.content-profile .profile-navigate .button-right {
  flex: 10;
  display: flex;
  justify-content: left;
  align-items: center;
}
.content-profile .profile-navigate .button-right button {
  padding-left: 3px;
}

.content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.content_box {
  /* display: flex; */
  overflow-y: auto;
  margin: 0 auto;
  padding: 10px;
  /* flex-direction: column; */
  width: 100%;
  min-height: 80vh;
}

.content-title {
  margin-bottom: 10px;
}
.content-title h2 {
  text-shadow: 2px 2px black;
  font-size: 23px;
  border-bottom: 1px solid steelblue;
  padding: 20px;
  padding-left: 10px;
}

.login_box {
  position: absolute;
  background-color: cornflowerblue;
  height: auto;
  clear: both;
  float: left;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  /* padding-top: 60px; */
}

.form_group {
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 450px;
  height: 50px;
  background-color: white;
}

.login_form_title {
  margin: 0 auto;
  color: #343a40;
  font-size: 20px;
  font-weight: 700;
}

.wrong_form {
  margin: 0 auto;
  font-size: 12px;
  color: red;
  font-weight: 600;
}

.form_group img {
  margin: 0 auto;
  width: 80px;
}

.input_group {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 35px;
  background-color: whitesmoke;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 2px;
}

.input_group input {
  display: block;
  border: none;
  box-sizing: border-box;
  /* margin: 3px; */
  background-color: whitesmoke;
  padding: 5px;
  width: 250px;
  height: 30px;
  border-radius: 7px;
}

.input_group input:focus {
  outline: none;
}

.button_group {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 30px;
  background-color: deepskyblue;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.button_group button {
  display: block;
  border: none;
  box-sizing: border-box;
  margin-bottom: 5px;
  background-color: deepskyblue;
  padding: 5px;
  width: 250px;
  height: 25px;
  border-radius: 7px;
  font-weight: 700;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.divine_line_group {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 250px;
  height: 15px;
  border: none;
  border-radius: 7px;
}

.divine_line_box {
  flex: 3;
  margin: 0 auto;
}

.divine_line_box_mid {
  flex: 2;
  margin: 0 auto;
}

.divine_line {
  margin: 0 auto;
  width: 90px;
  height: 1px;
  border: none;
  background-color: #343a40;
}

.divine_line_text {
  display: inline;
  vertical-align: middle;
  margin: 0 auto;
  width: 50px;
  height: 3px;
  font-size: 12px;
}

.divine_line_text span {
  color: #343a40;
  font-size: 12px;
  font-weight: 700;
}

.oauth {
  display: felx;
  width: 100%;
}

.oauth-logo {
  width: 100%;
  height: 100%;
}

.oauth-button {
  width: 100%;
  height: 100%;
}

.oauth-button button {
  width: 250px;
  height: 30px;
  border-radius: 7px;
  border: 0px;
  background-color: deepskyblue;
  color: white;
  padding: 5px;
  font-weight: 700;
  font-size: 15px;
}

.oauth-button button:hover {
  background-color: steelblue;
}

/* .button_group button {
  display: block;
  border: none;
  box-sizing: border-box;
  padding: 5px;
  width: 250px;
  height: 25px;
} */
.hidden {
  visibility: hidden;
  z-index: -1;
}

.visible {
  visibility: visible;
  z-index: 10;
}

/* 마이페이지 */
.mypage {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 25px;
  flex-direction: column;
}
.mypage .title {
  text-shadow: 2px 2px black;
  border-bottom: 1px solid steelblue;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.mypage .content {
  display: flex;
  flex-direction: row;
}
.mypage .content .navigate {
  width: 200px;
  box-shadow: 2px 2px 3px 0px black;
  padding-top: 30px;
  padding-bottom: 30px;
}
.mypage .content .navigate li {
  text-align: center;
  cursor: pointer;
}
.mypage .content .page {
  width: 100%;
  box-shadow: 2px 2px 3px 0px black;
  padding-bottom: 30px;
}
.mypage .content .page .title {
  text-shadow: 2px 2px black;
  color: lightseagreen;
  margin: 30px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightseagreen;
}
.mypage h4 {
  margin-top: 30px;
}
.mypage button {
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: steelblue;
  border: 0px;
}
.mypage .border {
  width: 100%;
  box-shadow: 2px 2px 3px 0px black;
  padding-top: 30px;
  padding-bottom: 30px;
}

.userinfo {
  width: 300px;
  padding-left: 30px;
  padding-right: 30px;
}
.userinfo h4 {
  text-shadow: 2px 2px black;
  margin-bottom: 5px;
  color: steelblue;
}
.userinfo span {
  font-size: 14px;
}
.userinfo .userinfo-password input {
  padding: 3px;
  width: 100%;
  margin-top: 5px;
}
.userinfo .userinfo-password .button {
  /* padding: 3px; */
  width: 100%;
  text-align: right;
}

.asset {
  padding-left: 30px;
  padding-right: 30px;
}
.asset .total-asset .divTable {
  display: table;
  width: 100%;
  font-size: 14px;
  text-align: right;
}
.asset .total-asset .divTable-cell {
  width: 100px;
  display: table-cell;
  text-align: right;
}
.asset .total-asset .divTable-row {
  width: 100px;
  display: table-row;
}
.asset .total-asset .divTable-th {
  color: steelblue;
  width: 100px;
  text-align: left;
}
.asset .table {
  margin-top: 20px;
}
.asset .table table {
  /* 내부 값이 줄바꿈을 하지 않음 */
  white-space: nowrap;
  color: white;
  letter-spacing: 1px;
  width: 100%;
}
.asset .table table thead {
  font-size: 14px;
  color: steelblue;
  /* 글자 사이 간격 */
  letter-spacing: 1px;
}
.asset .table table thead .width40 {
  width: 40px;
}
.asset .table table thead th {
  padding: 5px;
}
.asset .table table tbody {
  font-size: 12px;
  /* 글자 사이 간격 */
  letter-spacing: 1px;
  text-align: center;
}
.asset .table table tbody tr:hover {
  color: steelblue;
}

/* 코인 css */
.content-coin .coin-table {
  margin-top: 20px;
}
.content-coin .coin-table table {
  /* 크기고정 */
  /* 내부 값이 줄바꿈을 하지 않음 */
  white-space: nowrap;
  color: white;
  letter-spacing: 1px;
  width: 100%;
}
.content-coin .coin-table table thead {
  font-size: 14px;
  color: lightseagreen;
  /* 글자 사이 간격 */
  letter-spacing: 1px;
}
.content-coin .coin-table table thead .width40 {
  width: 40px;
}
.content-coin .coin-table table thead th {
  padding: 5px;
}
.content-coin .coin-table table tbody {
  font-size: 12px;
  /* 글자 사이 간격 */
  letter-spacing: 1px;
  text-align: center;
}
.content-coin .coin-table table tbody tr:hover {
  cursor: pointer;
  color: steelblue;
}

.coin-main {
  margin: 0 auto;
  text-align: center;
}

.coin-main h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.coin-datail {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.coin-title {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.coin-title .text-area {
  width: 100%;
  font-size: 20px;
}

.coin-title .button-area {
  width: 100%;
  font-size: 20px;
}

.coin-chart {
  display: flex;
  justify-content: center;
}

.button-area {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.coin-title .button-area button {
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  background-color: steelblue;
  border: 0px;
  border-radius: 3px;
}

.trade {
  padding: 10px;
  width: 100%;
  height: 150px;
  display: flex;
  /* width: 100%; */
  /* height: 100%; */
  flex-direction: row;
  /* 가로정렬 */
  justify-content: center;
  /* 세로정렬 */
  /* align-items: center; */
}
.trade button {
  margin-top: 5px;
  width: 70px;
  height: 30px;
  color: antiquewhite;
  border-radius: 3px;
  border: 0px;
}

.bgColorRed {
  background-color: crimson;
}

.bgColorBlue {
  background-color: royalblue;
}

.colorRed {
  color: crimson;
}

.colorBlue {
  color: royalblue;
}

.colorWhite {
  color: white;
}

.colorSteelBlue {
  color: steelblue;
}

.trade-type {
  flex: 20;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.trade-type .desc-area {
  display: flex;
  flex-direction: row;
}
.trade-type .desc-area .text-area {
  min-height: 22.4px;
  flex: 3;
  font-size: 12px;
}
.trade-type .desc-area .input-area {
  flex: 2;
  text-align: right;
}
.trade-type .desc-area .input-area input {
  z-index: 10;
  width: 100%;
  height: 100%;
}

.history table {
  white-space: nowrap;
  color: white;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
}
.history table thead {
  font-size: 14px;
  color: steelblue;
  letter-spacing: 1px;
}
.history table thead .width40 {
  width: 40px;
}
.history table thead th {
  padding: 5px;
}
.history table tbody {
  font-size: 12px;
}

.spare {
  flex: 1;
}

/*# sourceMappingURL=App.css.map */
